<% provide :page_title, "About" %>

<div class="hero-unit center">
  <h1>About Me:</h1>
  <p>
    My name is Michael Dorst, though I often go by anthropomorphic on the internet.<br>
    I'm a software developer, mostly in web right now. I started programming in C++ in 2010,
    but in 2012 I started playing with <a href="http://ruby-lang.org/en/">Ruby</a> and promptly fell in love.
    Since then I've been playing with web development in <a href="http://rubyonrails.org">Rails</a>, and absolutely loving it.
    It's a great platform that makes programming fun.<br>
    I'm a big fan of <a href="http://github.com">GitHub</a>, <a href="http://c9.io">Cloud9</a> and <a href="http://stackoverflow.com">Stack Overflow</a>.<br>
    All the projects I'm currently working on are located <a href="http://github.com/anthropomorphic">here</a>,
    at my GitHub page.
  </p>
</div>
